body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}

.background {
    position: fixed; /* Fixa o elemento para cobrir toda a tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../medias/the-batman-2022-movies-dc-comics-red-background-5k-5k-7680x4320-7477.jpg"); /* Define a imagem de fundo */
    background-size: cover; /* Garante que a imagem de fundo cubra todo o elemento */
    filter: blur(10px); /* Aplica um desfoque de 10 pixels à imagem de fundo */
    z-index: -1; /* Coloca o elemento abaixo do conteúdo */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #fff;
    text-align: center;
}

p{
    color: #cccccc;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #fff;
    align-items: center;
}

nav h1 {
    font-size: 50px;
    padding-left: 20px;
}

nav ul {
    list-style-type: none;
    text-align: right;
    padding-top: 20px;
    
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: #fff;
}

header.portfolio {
    padding-bottom: 30px;
}

header.portfolio h2 {
    font-size: 40px;
}

section.gerenciamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 30px;
}

section.gerenciamento video{
    border: 4px solid #fff;
}

section.gerenciamento header{
    padding-right: 10px;
}

section.calculadora {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #fff;
}

section.calculadora video{
    border: 4px solid #fff;
}

section.calculadora header{
    padding-left: 10px;
    
}

video {
    max-width: 50%;
    height: auto;
    
}

header.habilidades h2{
    font-size: 40px;
    padding-top: 30px;
}

header.JavaScript{
    padding-top: 20px;
}

header.JavaScript p{
    padding-left: 10%;
    padding-right: 10%;
}

header.NodeJS{
    padding-top: 20px;
}

header.NodeJS p{
    padding-left: 10%;
    padding-right: 10%;
}

header.html{
    padding-top: 20px;
}

header.html p{
    padding-left: 10%;
    padding-right: 10%;
}

header.java{
    padding-top: 20px;
}

header.java p{
    padding-left: 10%;
    padding-right: 10%;
}

header.c{
    padding-top: 20px;
    border-bottom: 2px solid #fff;
}

header.c p{
    padding-left: 10%;
    padding-right: 10%;
}

section.sobremim p {
    padding-left: 10%;
    padding-right: 10%;
}

.imagem-container {
    display: flex; /* Isso permite que o contêiner se ajuste ao tamanho da imagem */
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Define o raio da borda para 50%, criando uma borda redonda */
    
}

.imagem-redonda {
    border: 4px solid #333;
    width: 400px; /* Defina a largura da imagem */
    height: 400px; /* Defina a altura da imagem */
    object-fit: cover; /* Isso garante que a imagem preencha a área especificada sem distorção */
    border-radius: 50%; /* Define o raio da borda para 50%, criando uma borda redonda */
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}
